*{margin: 0; padding: 0;}
li,ul{list-style: none;}
a{text-decoration: none; font-family: "맑은고딕",sans-serif; color: #333333;}

/*공통*/
.container{width: 1200px;}
.m-auto{margin: 0 auto;}
.abs{position: absolute;}
.rel{position: relative;}
.d-flex{display: flex;}
.d-none{display: none;}
.d-block{display: block;}
.w-100{width: 100%;}
.justify-between{justify-content: space-between;}
.jcc{justify-content: center;}
.align-center{align-items: center;}
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}
.ofh{overflow: hidden;}
.w33{width: 33.333%;}

#hd{
    background-color: rosybrown;
}

#gnb>li>a{
    font-size: 1.8rem;
    padding: 0 2.5rem;
}

#gnb ul{
    background-color: black;
    top: 100%;
    left: 0;
    min-width: 150px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
}
#gnb ul::after, #gnb ul::before{
    content: "";
    display: block;
    height: 1rem;
}
#gmb ul a{
    color: white;
    line-height: 2;
    font-size: 1.5rem;
    text-indent: 2rem;
    display: block;
}
#gnb:hover ul{
    height: 225px;
}

/* 대메뉴 활성화 꼭 외우기*/
#gnb li:hover > a{
    background-color: black;
    color: white;
}
/* 소메뉴 활성화 꼭 외우기 */
#gnb ul li:hover a{
    background-color: gold;
    color: black;
    display: block;
}


/* ㄴ아ㅓㄹ나이ㅓ호라ㅓ놇; */